<hr>
<p-card header="Proveedor">
    <!-- Agregar Informcion del formulario -->
    <form [formGroup]="frmProveedor" autocomplete="off">
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-spin pi-cog"></i>
                &nbsp; Información General:
            </div>
        </p-divider>

        <div class="row">
            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>Nombre</label>
                    <input 
                        pKeyFilter="alphanum"
                        pInputText 
                        pTooltip="Ingrese Nombre Completo Persona: Fisica o Moral "
                        tooltipPosition="bottom" 
                        formControlName="nombre" 
                        pInputText 
                        placeholder="Vacio" />
                    <p-message severity="error" text="Campo Es Obligatorio "
                        *ngIf="frmProveedor.controls['nombre'].invalid">
                    </p-message>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>RFC</label>
                    <input
                        pKeyFilter="alphanum" 
                        pInputText 
                        pTooltip="Ingrese RFC Persona: Fisica o Moral " 
                        tooltipPosition="bottom"
                        formControlName="rfc" 
                        pInputText 
                        placeholder="Vacio" />
                <p-message severity="error" text="Campo Es Obligatorio "
                    *ngIf="frmProveedor.controls['rfc'].invalid">
                </p-message>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>CURP</label>
                    <input
                        pKeyFilter="alphanum" 
                        pTooltip="Ingrese CURP Persona: Fisica" 
                        tooltipPosition="bottom" 
                        formControlName="curp" 
                        pInputText 
                        placeholder="Vacio" />
                </div>
            </div>

            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>CODIGO</label>
                    <input
                        pKeyFilter="alphanum" 
                        pTooltip="Ingrese Codigo Para Identificar Al Proveedor"
                        tooltipPosition="bottom" 
                        formControlName="codigo" 
                        pInputText placeholder="Vacio" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>CORREO</label>
                    <input
                        pKeyFilter="alphanum" 
                        pTooltip="Ingrese Correo Para Contactar Al Proveedor" 
                        tooltipPosition="bottom" 
                        formControlName="correo" 
                        pInputText 
                        placeholder="Vacio" />
                </div>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-spin pi-cog"> </i>
                &nbsp; configuraciones:
            </div>
        </p-divider>
        <div class="flex flex-wrap gap-3">
            <div class="flex align-items-center">
                <p-inputGroup>
                    <p-inputGroupAddon pTooltip="Seleccione Un Tipo De Proveedor: con ello haremos futuras configuraciones"
                    tooltipPosition="bottom" >
                        <i class="pi pi-wrench">&nbsp; Tipo:</i>
                    </p-inputGroupAddon>
                
                    <select
                    pTooltip="Seleccione Un Tipo De Proveedor: el cual es tipo nacional o extranjero."
                    tooltipPosition="bottom"
                    class="form-select" 
                    formControlName="id_app_tipo" 
                    placeholder="Seleccione Tipo de Proveedor"
                    aria-label="Default select example">
                    <option *ngFor="let item of lstProveedorTipo" [value]="item.id">{{item.descripcion}}
                    </option>
                    </select>
                </p-inputGroup>
                <!-- descomentar hasta la actualizacion a version 17 

                

                <p-dropdown placeholder="Seleccione una Opcion"
                pTooltip="Seleccione Un Tipo De Proveedor: con ello haremos futuras configuraciones"
                tooltipPosition="bottom" formControlName="id" [options]="lstProveedorTipo" value="id" optionValue="id"
                optionLabel="descripcion">
                </p-dropdown>
                -->


            </div>
            <div class="flex align-items-center">
                <p-inputGroup>
                    <p-inputGroupAddon 
                    pTooltip="Seleccione Un Estatus De Proveedor: con ello haremos haras visible en busquedas, documentos etc. "
                    tooltipPosition="bottom" >
                        <i class="pi pi-wrench">&nbsp; Estatus:</i>
                    </p-inputGroupAddon>
                    <select
                    pTooltip="Seleccione Un Estatus De Proveedor: con ello haremos haras visible en busquedas, documentos etc. "
                    tooltipPosition="bottom"
                    class="form-select" 
                    formControlName="id_app_estatus" 
                    placeholder="Seleccione Estado De Proveedor"
                    aria-label="Default select example">
                    <option *ngFor="let item of lstestatus" [value]="item.id">{{item.descripcion}}
                    </option>
                    </select>
                </p-inputGroup>
                <!-- descomentar hasta la actualizacion a version 17 
                
                <p-dropdown pTooltip="Seleccione Un Tipo Estatus: Se Habilita o Deshabilita Visualmente."
                tooltipPosition="bottom" 
                formControlName="id_app_estatus" 
                [options]="lstestatus" placeholder="Seleccione una Opcion" value="id_app_estatus"
                optionValue="id_app_estatus"  optionLabel="descripcion">
                </p-dropdown>
                -->
            </div>
            
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-spin pi-cog"></i>
                &nbsp; SAT:
            </div>
        </p-divider>
        <div class="row">
            <div class="col-sm-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"> Sat Uso CFDI:</i>
                    </span>
                    <textarea rows="1" cols="50" pInputText
                        pTooltip="Seleccione Un Uso CFDI Fiscal: Para Timbrar Facturas." pInputTextarea
                        [disabled]="true" [value]="usoCFDI" placeholder="Sin Informcion"></textarea>

                    <p-button
                    (click)="showDialog()" 
                    pTooltip="Abrir USO CFDI Fiscal."
                    severity="info"
                    icon="pi pi-plus"
                    label="Agregar" 
                    tooltipPosition="bottom"
                    >
                    </p-button>


                </div>
            </div>
            <div class="col-sm-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user">Sat Regimen Fiscal:</i>
                    </span>
                    <textarea rows="1" cols="50" pTooltip="Seleccione Un Regimen Fiscal: Para Timbrar Facturas."
                        tooltipPosition="bottom" pInputTextarea [disabled]="true" [value]="RegimenCFDI"
                        placeholder="Sin Informcion">
                    </textarea>

                    <p-button
                    (click)="dlgRegimen()"
                    pTooltip="Abrir Regimen Fiscal."
                    severity="info"
                    icon="pi pi-plus"
                    label="Agregar" 
                    tooltipPosition="bottom"
                    >
                    </p-button>
                
                
                </div>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>Funciones Usuario:</b>
            </div>
        </p-divider>
        
        <p-button
        icon="pi pi-plus"
        label="Nuevo" 
        (click)="NuevoProvedor()"
        pTooltip="Almacenar: Proveedor Informcion." 
        tooltipPosition="bottom"
        severity="success"
        >
        </p-button>
        &nbsp;
        <p-button 
            icon="pi pi-pencil"
            pTooltip="Almacenar: Proveedor Informcion." 
            tooltipPosition="bottom"
            (click)="Almacenar()" 
            [disabled]="frmProveedor.invalid" 
            label="Guardar" 
             
            severity="info">
            <p-progressSpinner *ngIf="BtnSpinner" styleClass="w-4rem h-4rem" strokeWidth="8"
                fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
        </p-button>
    </form>
</p-card>



<div class="card flex flex-column align-items-center gap-2">
    <p-dialog header="DEVELOPER ©2024" [(visible)]="visibleMjs" position="top">
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="fas fa-info-circle"> ARIES.</i>
            </div>
        </p-divider>
        <div class="row">
            <div class="col-mb-4">
                {{msjBody.titulo}}
                <i *ngIf="msjBody.msjTipo == 1" class="fa-solid fa-check fa-2xl" style=" color: green;">
                </i>
                <i *ngIf="msjBody.msjTipo == 2" class="fa-solid fa-circle-exclamation fa-2xl"
                    style=" color: orange;"></i>
                <i *ngIf="msjBody.msjTipo == 3" class="fa-solid fa-triangle-exclamation fa-2xl"
                    style=" color: red;"></i>
                <br>
                {{msjBody.mensaje}}
            </div>
            <div class="col-mb-4">
                {{msjBody.detalle}}
            </div>
        </div>
        <br>
        <hr>
    </p-dialog>
</div>

<!-- ========================================================================================================================================================================================= -->
<!-- DIALOGOS SAT --->
<!-- ========================================================================================================================================================================================= -->
<p-dialog header="" position="top" [(visible)]="visible" [modal]="true" [style]="{ width: '90vw' }" [draggable]="false"
    [resizable]="false">
    <app-generica tabla={{tabalaSat1}} (JsonSat)="SatUsoCfedi($event)"></app-generica>
</p-dialog>
<!-- SAT  --->

<p-dialog header="" position="top" [(visible)]="dlgRegimenvisible" [modal]="true" [style]="{ width: '90vw' }"
    [draggable]="false" [resizable]="false">
    <app-generica tabla={{tabalaSat2}} (JsonSat)="SatRegimen($event)"></app-generica>
</p-dialog>

<!-- SAT DOC COBRO  --->
<p-dialog header="Header" position="top" [(visible)]="dlgDocCbrovisible" [modal]="true" [style]="{ width: '90vw' }"
    [draggable]="false" [resizable]="false">
    <app-generica tabla={{tabalaSat1}} (JsonSat)="SatCobro($event)"></app-generica>
</p-dialog>
