
<section class="login-register login-sidebar"
    style="background-image:url(../assets/images/background/login-register.jpg);background-position: bottom;">
    <div class="login-box d-flex w-100 align-items-center justify-content-center">
        <p-card header="Inicio de Sessión" [style]="{width: '400px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <p-divider align="center">
                    <span class="p-tag">Aries</span>
                </p-divider>
            </ng-template>
                
            <form [formGroup]="myForm" autocomplete="off">
              <div class="row">
                    <label>Usuario:</label>
                    <div class="col-6-mb">
                        <input formControlName="USUARIO" type="text" id="inputgroup" pInputText>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <label>Pass:</label>
                    <div class="col-6-mb">
                        <input formControlName="PASSS" type="text" id="inputgroup" pInputText>
                    </div>
                </div>
              </form>
            
            <ng-template pTemplate="footer">
                <p-button (click)="onSave()" label="Iniciar Session" icon="pi pi-check"></p-button>
            </ng-template>
        </p-card>
    </div>
</section>


