<hr>
<p-toast position="top-center" key="tc"></p-toast>
<p-blockUI [blocked]="Ariesblocked"></p-blockUI>
<p-card header="">
    <!-- Agregar Informcion del formulario -->
    <div class="inline-flex align-items-center">
      <i class="pi pi-search" style="font-size: 2rem"></i>
      <b>Cuenta:</b>
  </div>
  <p-divider></p-divider>
    <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
                <button
                  *ngIf=" _idNVL1 != -1"
                  pTooltip="Modificar: Registro."
                  tooltipPosition="top"
                  (click)="CuentaNv1 = true"
                  pButton
                  icon="pi pi-file-edit"
                  type="button"
                  class="p-button-Info">
                </button>
                &nbsp;
            <p-dropdown
                (onChange)="getCuentasNv2($event.value)"
                placeholder="seleccione una cuenta"
                [options]="lstCuentas"
                optionValue="id"
                optionLabel="cuenta"
            >
            </p-dropdown>
        </div>
        <!-- <p-message severity="error" text="Campo Es Obligatorio ">
        </p-message> -->
    </div>
  </p-card>
<hr>
@if ( DataSourceRespaldo == null ) {
}@else {
  <p-card>
    <div class="inline-flex align-items-center">
        <i class="pi pi-file-edit" style="font-size: 2rem"></i>
        &nbsp;<b>Sub-Cuentas:</b>
    </div>
    <p-divider></p-divider>
      <div class="row">
        <div class="col-sm-3">
          <button
          label="Nueva"
          pTooltip="Agregar Cuenta."
          tooltipPosition="top"
          (click)="btnNuevaCuenta()"
          pButton
          icon="pi pi-plus"
          type="button"
          class="p-button-Info">
          </button>
        </div>
    <p-divider></p-divider>
        <div class="col-sm-3">
            <div class="flex flex-column gap-2">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input 
                            pTooltip="Escriba una palabra calve y presione ENTER dejar vacio para restaurar."
                            tooltipPosition="bottom" 
                            type="text" 
                            pInputText 
                            value=""
                            (change)="onfilter($event.target )"
                            placeholder="..." 
                            placeholder="Search"
                      >         
                  </span>
            </div>
        </div>
      </div>
      <p-table
           [rows]="10"
          [rowsPerPageOptions]="[5,10,25]"
          [paginator]="true"
          [value]="DataSource" 
          dataKey="id"
      >
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th></th>
            <th 
                pSortableColumn="cuenta">CUENTAS<p-sortIcon field="cuenta"></p-sortIcon>
            </th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-DataSource
        >
          <tr>
            <td>
              <button
              pTooltip="Modificar: Registro."
              tooltipPosition="top"
              (click)="ModificaNv2( DataSource )"
              pButton
              icon="pi pi-file-edit"
              type="button"
              class="p-button-Info">
            </button>
            </td>
            <td>
             <button
              pTooltip="Eliminar: Registro."
              tooltipPosition="top"
              (click)="eliminarRow( DataSource.id)"
              pButton
              icon="pi pi-trash"
              type="button"
              class="p-button-danger">
            </button>
            </td>
            <td>
              <div [innerHTML]="DataSource.cuenta"></div>
            </td>
        </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No hay registros.</td>
            </tr>
        </ng-template>
    </p-table>
  </p-card>
} 

<hr>

<p-dialog 
    [(visible)]="CuentaNv1" 
    [modal]="true" 
    [style]="{width: '90vw'}"
  >
    <!-- Agregar Informcion del formulario -->
    <div class="inline-flex align-items-center">
      <i class="pi pi-file-edit" style="font-size: 2rem"></i>
      &nbsp;<b>Cuenta:</b>
  </div>
  <p-divider></p-divider>
  <!-- Agregar Informcion del formulario -->
  <form [formGroup]="frm" autocomplete="off">
  <div class="row">
      <div class="col-sm-3">
          <div class="flex flex-column gap-2">
              <label>Codigo:</label>
              <input 
                  pInputText
                  pTooltip="Escribe para modificar." 
                  tooltipPosition="bottom"
                  formControlName="codigo" 
                  type="text"  
                  pInputText placeholder="Vacio" />
          </div>
      </div>
      <div class="col-sm-3">
          <div class="flex flex-column gap-2">
              <label>Cuenta:</label>
              <input 
                  pInputText
                  pTooltip="Escribe para modificar" 
                  tooltipPosition="bottom"
                  formControlName="descripcion" 
                  type="text"  
                  pInputText placeholder="Vacio" />
          </div>
      </div>
  </div>
  </form>
  <p-divider></p-divider>
  <ng-template pTemplate="footer">
    <button
    pTooltip="Cancelar Modificacion." 
    (click)="CuentaNv1 = false" 
    pButton 
    pRipple 
    type="button" 
    label="cancelar" 
    class="p-button-danger p-button-text">
  </button>
      &nbsp;
    <p-button 
    [disabled]="frm.invalid"
    pTooltip="Realizar Modificacion." 
    severity="info"
    (click)="ActualizarNV1()"
    icon="pi pi-file-edit" 
    label="Guardar" 
    tooltipPosition="bottom">
</p-button>
  </ng-template>
</p-dialog>


<p-dialog 
    [(visible)]="CuentaNv2" 
    [modal]="true" 
    [style]="{width: '90vw'}"
  >
  <!-- Frm Cuenta Nlv 2 -->
  <!-- Agregar Informcion del formulario -->
  <div class="inline-flex align-items-center">
      <i class="pi pi-file-edit" style="font-size: 2rem"></i>
      &nbsp;<b>Sub- Cuenta:</b>
  </div>
  <p-divider></p-divider>
  <!-- Agregar Informcion del formulario -->
  <form [formGroup]="frmnlv2" autocomplete="off">
  <div class="row">
      <div class="col-sm-3">
          <div class="flex flex-column gap-2">
              <label>Codigo:</label>
              <input 
                  class="ng-invalid ng-dirty"
                  pInputText
                  pTooltip="Escribe un codigo de la cuenta." 
                  tooltipPosition="bottom"
                  formControlName="codigo" 
                  type="text"  
                  pInputText placeholder="Vacio" />
          </div>
      </div>
      <div class="col-sm-3">
          <div class="flex flex-column gap-2">
              <label>Cuenta:</label>
              <input 
                  class="ng-invalid ng-dirty"
                  pInputText
                  pTooltip="Escribe una descripción." 
                  tooltipPosition="bottom"
                  formControlName="descripcion" 
                  type="text"  
                  pInputText placeholder="Vacio" />
          </div>
      </div>
  </div>
  </form>
  <p-divider></p-divider>
  <ng-template pTemplate="footer">    
    <button
    pTooltip="Cancelar Modificacion." 
    (click)="CuentaNv2 = false" 
    pButton 
    pRipple 
    type="button" 
    label="cancelar" 
    class="p-button-danger p-button-text">
  </button>
    &nbsp;
    <p-button 
        [disabled]="frmnlv2.invalid"
        pTooltip="Realizar Modificacion." 
        severity="info"
        (click)="ActualizarNV2()"
        icon="pi pi-file-edit" 
        label="Guardar" 
        tooltipPosition="bottom">
    </p-button>
  </ng-template>
</p-dialog>




@if( mdleliminar == true  ) {
  <app-mdleliminar
    [mdleliminar]="mdleliminar"
    [_tabla]="tabla"
    [_id]="_id"
    (_rowconfirmacion)="eliminacion($event)"
    />
}



