<hr>
<p-toast position="top-center" key="tc"></p-toast>
<p-blockUI [blocked]="Ariesblocked"></p-blockUI>
<p-card header="CONTA - Documento">

    <div class="row">
        <div class="col-sm-3">
            <div class="flex flex-column gap-2">
                <label>Nombre</label>
                <input
                    pTooltip="Ingrese Nombre Completo Persona: Fisica o Moral "
                    tooltipPosition="bottom"
                    pInputText
                    placeholder="Vacio" />
                
            </div>
        </div>
        <div class="col-sm-3">
            <div class="flex flex-column gap-2">
                <label>RFC</label>
                <input
                    pTooltip="Ingrese RFC Persona: Fisica o Moral "
                    tooltipPosition="bottom"
                    pInputText
                    placeholder="Vacio" />
            
            </div>
        </div>

        <div class="col-sm-3">
            <div class="flex flex-column gap-2">
                <label>CURP</label>
                <input
                    pTooltip="Ingrese CURP Persona: Fisica"
                    tooltipPosition="bottom"
                    pInputText
                    placeholder="Vacio" />
            </div>
        </div>

        <div class="col-sm-3">
            <div class="flex flex-column gap-2">
                <label>CODIGO</label>
                <input
                    pTooltip="Ingrese Codigo Para Identificar Al Proveedor"
                    tooltipPosition="bottom"
                    pInputText placeholder="Vacio" />
            </div>
        </div>
    </div>
   
    <p-divider align="left">
        <div class="inline-flex align-items-center">
            <i class="pi pi-spin pi-cog"> </i>
            &nbsp; configuraciones:
        </div>
    </p-divider>


    <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
            <p-inputGroup>
                <p-inputGroupAddon pTooltip="Seleccione Un Tipo De Proveedor: con ello haremos futuras configuraciones"
                tooltipPosition="bottom" >
                    <i class="pi pi-wrench">&nbsp; CLIENTE:</i>
                </p-inputGroupAddon>
            </p-inputGroup>
            <p-dropdown
                pTooltip="Seleccione Un Tipo De Proveedor: con ello haremos futuras configuraciones"
                tooltipPosition="bottom"
                placeholder="seleccione una opcion"
                [options]="lstCliente"
                >
            </p-dropdown>
        </div>
        <div class="flex align-items-center">
            <p-inputGroup>
                <p-inputGroupAddon
                pTooltip="Seleccione Un Estatus De Proveedor: con ello haremos haras visible en busquedas, documentos etc. "
                tooltipPosition="bottom" >
                    <i class="pi pi-wrench">&nbsp; TIPO DE MONEDA:</i>
                </p-inputGroupAddon>
            </p-inputGroup>
            <p-dropdown
                pTooltip="Seleccione Un Tipo Estatus: Se Habilita o Deshabilita Visualmente."
                tooltipPosition="bottom"
                placeholder="seleccione una opcion"
                [options]="lstmoneda"
            >
        </p-dropdown>
        </div>
        
    </div>

    <p-divider></p-divider>
    <span class="p-buttonset">
        <p-button
        icon="pi pi-plus"
        label="Nuevo"
        (click)="NuevoProvedor()"
        pTooltip="Reinicia Formulario Del Proveedor."
        tooltipPosition="bottom"
        severity="primary"
        >
        </p-button>
        &nbsp;
        <p-button
            icon="pi pi-pencil"
            pTooltip="Almacenar: Proveedor Informcion."
            tooltipPosition="bottom"
            (click)="Almacenar()"
            label="Guardar"
            severity="success">
            <p-progressSpinner *ngIf="BtnSpinner" styleClass="w-4rem h-4rem" strokeWidth="8"
                fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
        </p-button>
        &nbsp;
        <p-button
            icon="pi pi-map-marker"
            pTooltip="Gestion: Realizar una configuracion de domicilio ayuda a timbrar documentos"
            tooltipPosition="bottom"
            (click)="Domicilios()"
            label="Domicilios"
            class="p-button-warning"
            severity="warning">
        </p-button>
        &nbsp;
        <p-button
            icon="pi pi-search"
            pTooltip="Buscar: Un Proveedor."
            tooltipPosition="bottom"
            (click)="lstProveedores()"
            label="Buscar"
            severity="info"
        >
         </p-button>
    </span>

</p-card>