<p-dialog
  header="Title"
  [(visible)]="mdleliminar"
  [closeOnEscape] ="false"
  [closable] ="false"
  >
  <ng-template pTemplate="header">
    <i  class="fa-solid fa-triangle-exclamation fa-2xl"
                  style=" color: red;"></i>
              <br>      &nbsp;
            ¿ Estas Seguro De Eliminar El Registro ?
</ng-template>
<ng-template pTemplate="footer">
  <span class="p-buttonset">
    <button

     pTooltip="Confirma la Eliminacion."
     tooltipPosition="bottom"

      pButton
      type="button"
      (click)="OnEliminar()"
       class="p-button-danger"
       label="Eliminar"
       icon="pi pi-trash">
      </button>
    &nbsp;
    <button
    pTooltip="Cancela la eliminacion."
    tooltipPosition="bottom"
    pButton
    type="button"
    (click)="OnCancelar()"
     label="Cancel"
     icon="pi pi-times">
    </button>
</span>
</ng-template>
</p-dialog>
