<p-menubar>
    <ng-template pTemplate="start">
         <p-button
            label="Menu"
            (click)="sidebarVisible = true"
            icon="pi pi-microsoft"
            badgeClass="p-badge-danger"
            [outlined]="true">
        </p-button>
    </ng-template>   
    <ng-template pTemplate="end">
        <p-splitButton
            icon="pi pi-moon" 
            [model]="this.items3" 
            styleClass="p-button-outlined p-button-info mr-2 mb-2" >
        </p-splitButton>
        &nbsp; &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;
    </ng-template>   
</p-menubar>
<p-sidebar 
 [transitionOptions]="'200ms'" 
 [(visible)]="sidebarVisible">
    <h3>Menu</h3>
    <hr>
    <p-button
    pTooltip="Navegar a la pagina principal"
    tooltipPosition="bottom"
    label="Menu"
    (click)="navigateToUrl('principal')"
    icon="pi pi-microsoft"
    badgeClass="p-badge-danger"
    [outlined]="true">
</p-button>
    <hr>
    <p-button
    pTooltip="Navegar a la pagina contacto"
    tooltipPosition="bottom"
    label="Contacto"
    (click)="navigateToUrl('contacto')"
    icon="pi pi-whatsapp"
    badgeClass="p-badge-danger"
    [outlined]="true">
</p-button>
<hr>
<p-button
    pTooltip="Navegar a la pagina referencias"
    tooltipPosition="bottom"
    label="Referencias"
    (click)="navigateToUrl('referencias')"
    icon="pi pi-user"
    badgeClass="p-badge-danger"
    [outlined]="true">
</p-button> 
<hr>
<p-button
    pTooltip="Navegar a la pagina nosotros"
    tooltipPosition="bottom"
    label="Nosotros"
    (click)="navigateToUrl('nosotros')"
    icon="pi pi-question-circle"
    badgeClass="p-badge-danger"
    [outlined]="true">
</p-button>
<hr>
<p-button
    pTooltip="Navegar a la pagina catalogo de servicios"
    tooltipPosition="bottom"
    label="Servicios"
    (click)="navigateToUrl('productos')"
    icon="pi pi-tag"
    badgeClass="p-badge-danger"
    [outlined]="true">
</p-button>
<hr>
<p-button
    pTooltip="Navegar a terminos y condiciones"
    tooltipPosition="bottom"
    label="terminos y condiciones"
    (click)="navigateToUrl('terminos')"
    icon="pi pi-thumbs-up-fill"
    badgeClass="p-badge-danger"
    [outlined]="true">
</p-button>
<hr>
<ng-template pTemplate="content">
    <p-button
    icon="pi pi-power-off"
    pTooltip="Inicia session en el portal principal: https://ec.arieserp.com.mx/auth/login"
    tooltipPosition="bottom"
    (click)="CerrraSesion()"
    label="Iniciar Sessión"
    severity="success">
</p-button>

</ng-template>
</p-sidebar>
<router-outlet />
<app-firma />
