<hr>
<p-toast position="top-center" key="tc"></p-toast>
<p-blockUI [blocked]="Ariesblocked"></p-blockUI>
<div class="cards-container">
    <p-card header="" subheader=" CEO: ING RICARDO SEPULVEDA GARCIA " [style]="{ width: '360px' }">
         <ng-template pTemplate="header">
            <div style="border-radius: 50%; width: 130px; height: 130px; overflow: hidden;">
                <img alt="Card" src="./assets/images/principal/PMI.png" style="width: 100%; height: 100%; object-fit: cover;">
            </div>
         </ng-template>
         <h4>
            PARAMETROS DEL USUARIO
         </h4>
         <hr>
         <ul>
            <li>PROFESION - INGENIERIA EN TECNOLOGIAS DE LA INFORMACION </li>
            <li>LUGAR DE RADICACION - LUIS MOYA ZACATECAS, MEXICO </li>
            <li>EDAD - 27  </li>
          </ul>
         <ng-template pTemplate="footer">
            <hr>
            <p-button 
            pTooltip="Ver mas detalle."
            tooltipPosition="top"
            (click)="Navegar()"
            label="ver más" icon="pi pi-external-link"></p-button>
            <hr>
         </ng-template>
     </p-card>
</div>