<hr>
<p-toast position="top-center" key="tc"></p-toast>
<p-blockUI [blocked]="Ariesblocked"></p-blockUI>
<p-card header="Empleado">
    <!-- Agregar Informcion del formulario -->
    <form [formGroup]="frmEmpleado" autocomplete="off">
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-spin pi-cog"></i>
                &nbsp; Información General:
            </div>
        </p-divider>

        <div class="row">
            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>Nombre</label>
                    <input
                        pInputText
                        pTooltip="Ingrese Nombre Completo Persona: Fisica o Moral "
                        tooltipPosition="bottom"
                        formControlName="nombre"
                        pInputText
                        placeholder="Vacio" 
                        pattern="[a-zA-Z]" />
                    <p-message severity="error" text="Campo Es Obligatorio "
                        *ngIf="frmEmpleado.controls['nombre'].invalid"  >
                    </p-message>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>Apellido Paterno</label>
                    <input
                        pInputText
                        pTooltip="Ingrese primer apellido"
                        tooltipPosition="bottom"
                        formControlName="apellidop"
                        pInputText
                        placeholder="Vacio" />
                </div>
            </div>

            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>Apellido Materno</label>
                    <input
                        pInputText
                        pTooltip="Ingrese segundo apellido. "
                        tooltipPosition="bottom"
                        formControlName="apellidom"
                        pInputText
                        placeholder="Vacio" />
                </div>
            </div>

            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>Numero Seguro Social</label>
                    <input
                        pInputText
                        pTooltip="Ingrese Numero Seguro Social."
                        tooltipPosition="bottom"
                        formControlName="nss"
                        pInputText
                        placeholder="Vacio" />
                    <p-message severity="error" text="Campo Es Obligatorio "
                        *ngIf="frmEmpleado.controls['nss'].invalid">
                    </p-message>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>Telefono</label>
                    <input
                        pInputText
                        pTooltip="Ingrese telefono de contacto."
                        tooltipPosition="bottom"
                        pInputText
                        placeholder="Vacio" />
                </div>
            </div>

            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>RFC</label>
                    <input
                        pInputText
                        pTooltip="Ingrese RFC Persona: Fisica o Moral "
                        tooltipPosition="bottom"
                        formControlName="rfc"
                        pInputText
                        placeholder="Vacio" />
                <p-message severity="error" text="Campo Es Obligatorio "
                    *ngIf="frmEmpleado.controls['rfc'].invalid">
                </p-message>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>CURP</label>
                    <input
                        pTooltip="Ingrese CURP Persona: Fisica"
                        tooltipPosition="bottom"
                        formControlName="curp"
                        pInputText
                        placeholder="Vacio"
                    />
                    <p-message severity="error" text="Campo Es Obligatorio "
                      *ngIf="frmEmpleado.controls['curp'].invalid">
                    </p-message>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>CODIGO</label>
                    <input
                        pTooltip="Ingrese Codigo Para Identificar Al Empleado"
                        tooltipPosition="bottom"
                        formControlName="codigo"
                        pInputText placeholder="Vacio"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>CORREO</label>
                    <input
                        pTooltip="Ingrese Correo Para Contactar Al Empleado"
                        tooltipPosition="bottom"
                        formControlName="correo"
                        pInputText
                        placeholder="Vacio" />
                </div>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-spin pi-cog"> </i>
                &nbsp; configuraciones:
            </div>
        </p-divider>
        <div class="flex flex-wrap gap-3">
            <div class="flex align-items-center">
                <p-inputGroup>
                    <p-inputGroupAddon
                    pTooltip="Seleccione Un Estatus De Empleado: con ello haremos haras visible en busquedas, documentos etc. "
                    tooltipPosition="bottom" >
                        <i class="pi pi-wrench">&nbsp; Sexo:</i>
                    </p-inputGroupAddon>
                </p-inputGroup>
                <p-dropdown
                    value="id_sexo"
                    placeholder="seleccione una opcion"
                    formControlName="id_sexo"
                    [options]="listSexo"
                    optionValue="id"
                    optionLabel="descripcion"
                >
                </p-dropdown>
            </div>
            
            <div class="flex align-items-center">
                <p-inputGroup>
                    <p-inputGroupAddon
                    pTooltip="Seleccione Un Estatus De Empleado: con ello haremos haras visible en busquedas, documentos etc. "
                    tooltipPosition="bottom" >
                        <i class="pi pi-wrench">&nbsp; Estatus:</i>
                    </p-inputGroupAddon>
                </p-inputGroup>
                <p-dropdown
                    value="id_estatus"
                    placeholder="seleccione una opcion"
                    formControlName="id_estatus"
                    [options]="lstestatus"
                    optionValue="id"
                    optionLabel="descripcion"
                >
                </p-dropdown>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-spin pi-cog"></i>
                &nbsp; SAT:
            </div>
        </p-divider>
        <div class="row">
            <div class="col-sm-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"> Sat Uso CFDI:</i>
                    </span>
                    <textarea rows="1" cols="50" pInputText
                        pTooltip="Seleccione Un Uso CFDI Fiscal: Para Timbrar Facturas." pInputTextarea
                        [disabled]="true" [value]="usoCFDI" placeholder="Sin Informcion"></textarea>

                    <p-button
                    (click)="showDialog()"
                    pTooltip="Abrir USO CFDI Fiscal."
                    severity="info"
                    icon="pi pi-plus"
                    label="Agregar"
                    tooltipPosition="bottom"
                    >
                    </p-button>


                </div>
            </div>
            <div class="col-sm-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user">Sat Regimen Fiscal:</i>
                    </span>
                    <textarea rows="1" cols="50" pTooltip="Seleccione Un Regimen Fiscal: Para Timbrar Facturas."
                        tooltipPosition="bottom" pInputTextarea [disabled]="true" [value]="RegimenCFDI"
                        placeholder="Sin Informcion">
                    </textarea>

                    <p-button
                    (click)="dlgRegimen()"
                    pTooltip="Abrir Regimen Fiscal."
                    severity="info"
                    icon="pi pi-plus"
                    label="Agregar"
                    tooltipPosition="bottom"
                    >
                    </p-button>


                </div>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>Funciones Usuario:</b>
            </div>
        </p-divider>



        <span class="p-buttonset">
                <p-button
                icon="pi pi-plus"
                label="Nuevo"
                (click)="NuevoEmpleado()"
                pTooltip="Almacenar: Empleado Informcion."
                tooltipPosition="bottom"
                severity="primary"
                >
                </p-button>
                &nbsp;
                <p-button
                    icon="pi pi-pencil"
                    pTooltip="Almacenar: Empleado Informcion."
                    tooltipPosition="bottom"
                    (click)="Almacenar()"
                    [disabled]="frmEmpleado.invalid"
                    label="Guardar"
                    severity="success">
                    <p-progressSpinner *ngIf="BtnSpinner" styleClass="w-4rem h-4rem" strokeWidth="8"
                        fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
                </p-button>
                &nbsp;
                <p-button
                    icon="pi pi-map-marker"
                    pTooltip="Gestion: Realizar una configuracion de domicilio ayuda a timbrar documentos"
                    tooltipPosition="bottom"
                    (click)="Domicilios()"
                    label="Domicilios"
                    severity="warning">
                </p-button>
                &nbsp;
                <p-button
                    icon="pi pi-search"
                    pTooltip="Buscar: Un Empleado."
                    tooltipPosition="bottom"
                    (click)="dlgBuscar()"
                    label="Buscar"
                    severity="info"
                    >
                </p-button>
                &nbsp;
                <!-- <p-button
                    icon="pi pi-file-edit"
                    pTooltip="Revisar el Historial Nomina."
                    tooltipPosition="bottom"
                    (click)="dlgBuscar()"
                    label="Historial Nominas"
                    severity="warning"
                    >
                </p-button> -->
        </span>
    </form>
</p-card>



<!-- ========================================================================================================================================================================================= -->
<!-- DIALOGOS SAT --->
<!-- ========================================================================================================================================================================================= -->
<p-dialog header="" position="top" [(visible)]="visible" [modal]="true" [style]="{ width: '90vw' }" [draggable]="false"
    [resizable]="false">
    <app-generica tabla={{tabalaSat1}} (BusqedaJson)="SatUsoCfedi($event)"></app-generica>
</p-dialog>
<!-- SAT  --->

<p-dialog header="" position="top" [(visible)]="dlgRegimenvisible" [modal]="true" [style]="{ width: '90vw' }"
    [draggable]="false" [resizable]="false">
    <app-generica tabla={{tabalaSat2}} (BusqedaJson)="SatRegimen($event)"></app-generica>
</p-dialog>

<!-- SAT DOC COBRO  --->
<p-dialog header="Header" position="top" [(visible)]="dlgDocCbrovisible" [modal]="true" [style]="{ width: '90vw' }"
    [draggable]="false" [resizable]="false">
    <app-generica tabla={{tabalaSat1}} (BusqedaJson)="SatCobro($event)"></app-generica>
</p-dialog>

@if( ConfirmacionMdl == true  ) {
    <confirmacion-mdl [ConfirmacionMdl]="ConfirmacionMdl" [ConfirmacionMsjMdl]="ConfirmacionMsjMdl" ></confirmacion-mdl>
}








