<hr>
<p-toast position="top-center" key="tc"></p-toast>
<p-blockUI [blocked]="Ariesblocked"></p-blockUI>
<p-card header="PMI - Cronograma">
    <!-- Agregar Informcion del formulario -->
       <!-- Agregar Informcion del formulario -->
       <form [formGroup]="frm" autocomplete="off">
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-spin pi-cog"></i>
                &nbsp; Información General:
            </div>
        </p-divider>

        <div class="row">
            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>Titulo:</label>
                    <input
                        pTooltip="Ingrese un titulo al cronograma de actividades."
                        tooltipPosition="bottom"
                        formControlName="titulo"
                        pInputText
                        placeholder="Vacio" />
                    <p-message severity="error" text="Campo Es Obligatorio "
                        *ngIf="frm.controls['titulo'].invalid">
                    </p-message>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>Objetivo:</label>
                    <input
                        pTooltip="Ingrese objetivo"
                        tooltipPosition="bottom"
                        formControlName="objetivo"
                        pInputText
                        placeholder="Vacio" />
                <p-message severity="error" text="Campo Es Obligatorio "
                    *ngIf="frm.controls['objetivo'].invalid">
                </p-message>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>Observaciones:</label>
                    <input
                        pTooltip="Ingrese observaciones."
                        tooltipPosition="bottom"
                        formControlName="observaciones"
                        pInputText
                        placeholder="Vacio" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="flex flex-column gap-2">
                    <label>Comentarios:</label>
                    <input
                        pTooltip="Ingrese comentarios."
                        tooltipPosition="bottom"
                        formControlName="comentarios"
                        pInputText placeholder="Vacio" />
                </div>
            </div>
        </div>

        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-spin pi-cog"> </i>
                &nbsp; Configuraciones:
            </div>
        </p-divider>

        <div class="flex flex-wrap gap-3">
            <div class="flex align-items-center">
                <p-inputGroup>
                    <p-inputGroupAddon
                    pTooltip="Seleccione un estado del Cronograma."
                    tooltipPosition="bottom" >
                        <i class="pi pi-wrench">&nbsp; Estado:</i>
                    </p-inputGroupAddon>
                </p-inputGroup>
                <p-dropdown
                    pTooltip="Seleccione un estado del Cronograma."
                    tooltipPosition="bottom"
                    formControlName="id_estatus"
                    placeholder="seleccione una opcion"
                    value="id_estatus"
                    [options]="lstestatus"
                    optionValue="id" optionLabel="descripcion"
                    >
                </p-dropdown>
            </div>
        </div>
        <hr>
        <div class="flex flex-wrap gap-3">
            <div class="flex align-items-center">
                <p-inputGroup>
                    <p-inputGroupAddon
                    pTooltip="Seleccione un estado del Cronograma."
                    tooltipPosition="bottom" >
                        <i class="pi pi-wrench">&nbsp; Proyecto:</i>
                    </p-inputGroupAddon>
                </p-inputGroup>
                <p-dropdown
                    pTooltip="Seleccione un proyecto."
                    tooltipPosition="bottom"
                    formControlName="id_pmi_proyecto"
                    placeholder="seleccione una opcion"
                    value="id_pmi_proyecto"
                    [options]="lstProyecto "
                    optionValue="id" optionLabel="nombre"
                    >
                </p-dropdown>
            </div>
        </div>
        <p-message severity="error" text="Campo Es Obligatorio "
             *ngIf="frm.controls['id_pmi_proyecto'].invalid">
        </p-message>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <div class="flex flex-column gap-2">
                    <i class="pi pi-exclamation-circle">&nbsp; Fecha Inicial:</i>
                    <p-calendar 
                    pTooltip="selecciona fecha a filtrar."
                    tooltipPosition="top"
                    formControlName="fecha_inicio"
                    [showIcon]="true" 
                    dateFormat="dd/mm/yy"
                    [readonlyInput]="true" 
                    [showOnFocus]="false" 
                    inputId="buttondisplay" />
                    <p-message severity="error" text="Campo Es Obligatorio "
                        *ngIf="frm.controls['fecha_inicio'].invalid">
                     </p-message>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="flex flex-column gap-2">
                    <i class="pi pi-exclamation-circle">&nbsp; Fecha Final:</i>
                    <p-calendar 
                    pTooltip="selecciona una fecha a filtrar."
                    tooltipPosition="top"
                    formControlName="fecha_fin"
                    [showIcon]="true" 
                    dateFormat="dd/mm/yy"
                    [readonlyInput]="true" 
                    [showOnFocus]="false" 
                    inputId="buttondisplay" />
                    <p-message severity="error" text="Campo Es Obligatorio "
                        *ngIf="frm.controls['fecha_fin'].invalid">
                     </p-message>
                </div>
            </div>
        </div>



        <!-- / botones funcion usuario / -->
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>Funciones Usuario:</b>
            </div>
        </p-divider>
        
        <span class="p-buttonset">
            <p-button
            icon="pi pi-plus"
            label="Nuevo"
            (click)="Nuevo()"
            pTooltip="Reinicia Formulario."
            tooltipPosition="bottom"
            severity="primary"
            >
            </p-button>
            &nbsp;
            <p-button
                icon="pi pi-pencil"
                pTooltip="Almacenar: Informcion."
                tooltipPosition="bottom"
                (click)="Almacenar()"
                [disabled]="frm.invalid"
                label="Guardar"
                severity="success">
                <p-progressSpinner *ngIf="BtnSpinner" styleClass="w-4rem h-4rem" strokeWidth="8"
                    fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
            </p-button>
            &nbsp;
            <!-- <p-button
                icon="pi pi-map-marker"
                pTooltip="Gestion: Realizar una configuracion de domicilio ayuda a timbrar documentos"
                tooltipPosition="bottom"
                (click)="Domicilios()"
                label="Domicilios"
                class="p-button-warning"
                severity="warning">
            </p-button> -->
            &nbsp;
            <p-button
                icon="pi pi-search"
                pTooltip="Buscar: Un Registro."
                tooltipPosition="bottom"
                (click)="lst()"
                label="Buscar"
                severity="info"
            >
             </p-button>
        </span>
    </form>
</p-card>


@if( ConfirmacionMdl == true  ) {
    <confirmacion-mdl [ConfirmacionMdl]="ConfirmacionMdl" [ConfirmacionMsjMdl]="ConfirmacionMsjMdl" ></confirmacion-mdl>
}