<hr>
<p-toast position="top-center" key="tc"></p-toast>
<p-blockUI [blocked]="Ariesblocked"></p-blockUI>
<p-card header="RH - PUESTO">
    <!--  formulario  -->
    <form [formGroup]="frmPuesto" autocomplete="off">
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-spin pi-cog"></i>
                &nbsp; Información General:
            </div>
        </p-divider>

        <div class="row">
            <div class="col-sm-6">
                <div class="flex flex-column gap-2">
                    <label>Descripcion:</label>
                    <input
                        pTooltip="Ingrese descripción del puesto"
                        tooltipPosition="bottom"
                        formControlName="descripcion"
                        pInputText
                        placeholder="Vacio" />
                    <p-message severity="error" text="Campo Es Obligatorio "
                        *ngIf="frmPuesto.controls['descripcion'].invalid">
                    </p-message>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="flex flex-column gap-2">
                    <label>Observaciones:</label>
                    <input
                        pTooltip="Ingrese observaciones del puesto"
                        tooltipPosition="bottom"
                        formControlName="observaciones"
                        pInputText
                        placeholder="Vacio" />
                <p-message severity="error" text="Campo Es Obligatorio "
                    *ngIf="frmPuesto.controls['observaciones'].invalid">
                </p-message>
                </div>
            </div>

        </div>


        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-spin pi-cog"> </i>
                &nbsp; configuraciones:
            </div>
        </p-divider>


        <div class="flex flex-wrap gap-3">
            <div class="flex align-items-center">
                <p-inputGroup>
                    <p-inputGroupAddon pTooltip="Seleccione un departamento disponible."
                    tooltipPosition="bottom" >
                        <i class="pi pi-wrench">&nbsp; Dpt:</i>
                    </p-inputGroupAddon>
                </p-inputGroup>
                <p-dropdown
                    formControlName="id_hijo"
                    placeholder="seleccione una opcion"
                    value="id_hijo"
                    [options]="lstDep"
                    optionValue="id" optionLabel="descripcion"
                    >
                </p-dropdown>
            </div>
            <p-message severity="error" text="Campo Es Obligatorio "
            *ngIf="frmPuesto.controls['id_hijo'].invalid">
        </p-message>
        </div>

        <hr>

        <span class="p-buttonset">
            <p-button
            icon="pi pi-plus"
            label="Nuevo"
            (click)="Nuevo()"
            pTooltip="Reinicia Formulario Del Puesto."
            tooltipPosition="bottom"
            severity="primary"
            >
            </p-button>
            &nbsp;
            <p-button
                icon="pi pi-pencil"
                pTooltip="Almacenar: Proveedor Informcion."
                tooltipPosition="bottom"
                (click)="Almacenar()"
                [disabled]="frmPuesto.invalid"
                label="Guardar"
                severity="success">
                <p-progressSpinner *ngIf="BtnSpinner" styleClass="w-4rem h-4rem" strokeWidth="8"
                    fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
            </p-button>
            &nbsp;
        </span>



    </form>
</p-card>


@if( ConfirmacionMdl == true  ) {
    <confirmacion-mdl [ConfirmacionMdl]="ConfirmacionMdl" [ConfirmacionMsjMdl]="ConfirmacionMsjMdl" ></confirmacion-mdl>
}

